*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}

#controls{
    height: 50px;
    margin: 0px 10px;
}

#controls button, #controls input{
    background-color: white;
    margin: 5px 5px;
    vertical-align: center;
    display: inline-block;
    position: relative;
    padding: 0 5px;
    text-decoration: none;
    width: 80px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
#controls button:hover,  #controls input:hover{
    background: #ffffe3;
    box-shadow: 0 5px 15px #ffff24;
    transform: translateY(7px);
}
button:active, button:focus, input:active, input:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

#controls button img{
    height: 40px;
    width: 40px;
}


canvas{
    background-color: white;
}